{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h2>Добавить читателя</h2>
</div>

<div class="card form-card">
    <form method="post" class="form-grid">
        <div>
            <label>ФИО</label>
            <input type="text" name="full_name" required>
        </div>

        <div>
            <label>Email</label>
            <input type="email" name="email" required>
        </div>

        <div>
            <label>Телефон</label>
            <input type="text" name="phone" required>
        </div>

        <button type="submit" class="btn">Добавить</button>
    </form>
</div>
{% endblock %}
